body{
    padding: 30px;
    background-color:#fafafa
}
.red{

    background-color: #8a0000;
}
.blue{
    background-color: #4898d5;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}

/*----------------slider---------------------*/
/*----------------1---------------------*/
.slider-demo-01{
    width: 1000px;
    height: 600px;
    /*margin: 0 auto;*/
    overflow: hidden;
}

.slider-demo-01 .slider-main{
    position: relative;
    align-content: center;
}

.slider-demo-01 .slider-main li.slider-panel{
    width: 1000px;
    z-index: 0;
    height: 600px;
    color:black;
    text-align: center;
    line-height:150px;
    font-size: 30px;
}

.slider-demo-01 .slider-main li.slider-panel .welcome{
    position: relative;
    text-align: center;
    top: 200px;
    z-index: 999;
    height: 10px;
    color:black;
    line-height:30px;
    font-size: 60px;
    border-width: 10px;
}

.slider-demo-01 .slider-main li.slider-panel .title{
    position: relative;
    text-align: center;
    top: 1px;
    z-index: 999;
    height: 10px;
    color:black;
    line-height:30px;
    font-size: 30px;
    border-width: 10px;
}

.slider-demo-01 .slider-extra{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}
.slider-demo-01 .slider-nav{
    top:470px;
    width: 700;
    height: 0;
    line-height: 0;
    left:100px;
    text-align: center;
    position: relative;
    z-index: 4;
}
.slider-demo-01 .slider-nav li {

    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 2px;
    background: #3e3e3e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    cursor: pointer;


}

.slider-demo-01 .slider-nav li.slider-active{
    background: #b61b1f;
    color: #fff;
}


.slider-demo-01 .slider-page a {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 1;
    display: block;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: gray;
    background: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}

.slider-demo-01 .slider-page a.slider-prev {
    left: 0;
    z-index: 4;
}
.slider-demo-01 .slider-page a.slider-next {
    right: 0;
    z-index: 4;
}


/*----------------imgscroll---------------------*/

.imgscroll-demo-01{
    width: 220px;
    overflow: hidden;
}

.imgscroll-demo-01 .image-vessel{
    width: 220px;
    height: 200px;
    overflow: hidden;
}
.imgscroll-demo-01 .image-vessel img{
    display: block;
    width: 220px;
    height: 200px;
    overflow: hidden;
}

.imgscroll-demo-01 .imgscroll-panel-body{
    width: 200px;
    height:77px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.imgscroll-demo-01 .imgscroll-panel-body li{
    display: block;
    float: left;
    width: 50px;

}
.imgscroll-demo-01 .imgscroll-panel-body li img{
    display: block;
    width: 46px;
    height: 73px;
    padding: 2px;
}
.imgscroll-demo-01 .imgscroll-panel-body li.imgscroll-active img{
    border: 2px #fa4253 solid;
    padding: 0;
}

.imgscroll-body{
    position: relative;
}

.imgscroll-prev , .imgscroll-next{
    position: absolute;
    top: 50%;
    margin-top: -31px;
    z-index: 1;
    display: block;
    width: 10px;
    height: 62px;
    line-height: 62px;
    background: gray;
    background: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}
.imgscroll-next{
    right: 0;
}